*{
    margin: 0.2%;
    padding: 0;
    
}
body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
}
.mainBT {
    padding: 50px 0; 
    margin: 50px 0;
    background-color:rgb(67, 151, 85);
    min-width: 107px;
}
.headText {
    padding: 15px 0; 
    font-size: 50px;
    text-align: center;
    margin: auto;
}
.maintext {
    font-size: 20px;
    font-weight: 40px
}
.mainBlock {
    margin: 10px 0 0 0; 
    
    padding: 20px; 
    border-radius: 10px;
}
.SuperBT {
    width: 30%;
    margin: 30px 35%;
    height: 100px;
    min-width: 154px;
}
.btn-success {
    color: rgb(189, 255, 198);
    background-color: #066629;
    border-color: #0c3001;
}
.btn-success.disabled, .btn-success:disabled {
    color: rgb(255, 255, 255);
    background-color: #366d4a;
    border-color: #485c42;;
}
.btn {
    font-weight: 500;
}